<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="ArithmeticCalculator" class="com.atlunk.spring.aop.xml.impl.ArithmeticCalculatorImpl"></bean>
	
	<!-- 配置切面的Bean -->
	<bean id="validationAspect" class="com.atlunk.spring.aop.xml.aspect.ValidationAspect"></bean>
	<bean id="loggingAspect" class="com.atlunk.spring.aop.xml.aspect.LoggingAspect"></bean>
	
	<!-- 配置aop -->
	<aop:config>
		<!-- 配置切点表达式 -->
		<aop:pointcut expression="execution(* com.atlunk.spring.aop.xml.impl.*.*(..))" id="pointCut"/>
		<!-- 配置切面及通知 -->
		<aop:aspect ref="validationAspect" order="1">
			<aop:before method="validation" pointcut-ref="pointCut"/>	
		</aop:aspect>
		<aop:aspect ref="loggingAspect" order="2">
			<aop:before method="beforeMethod" pointcut-ref="pointCut"/>	
			<aop:after method="afterMethod" pointcut-ref="pointCut"/>
			<aop:after-returning method="afterReturning" pointcut-ref="pointCut" returning="result"/>
			<aop:after-throwing method="afterThrowing" pointcut-ref="pointCut" throwing="ex"/>
		</aop:aspect>
	</aop:config>
	
</beans>
